@model IEnumerable<VirtualAssistant.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Movie
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Movie</li>
    </ol>
</section>
<p>@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
